* {
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: #000; */
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* line-height: 0; */
}
.content-box-sm{
    padding: 40px 20px;

}
.content-box-md{
    padding: 80px 20px;
}
.content-box-lg{
    padding: 120px 0;
}
a{
  text-decoration: none;  
  display: inline-block;
}
.btn{
   margin-top: 30px;
}
a.g-btn{
    padding: 18px 30px;
    border-radius: 34px;
    background-color: #41CC84;
    color: white;
}
li{
    position: relative;
}
img{
    width: 100%;
    display: block;
}
.container{
    width: 100%;
    max-width: 1200px;
    /* max-width: 1100px; */
    margin: 0 auto;
}
.menu{

}
.menu .menu-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
.menu .menu-wrap .logo{
    width: 114px;
}
.menu .menu-wrap .logo img{
    width: 100%;
}
.menu .menu-wrap .openBtn{
    width: 40px;
    height: 40px;
    display: none;
}
.menu .menu-wrap .openBtn svg{
    width: 100%;
    height: 100%;
}
.menu .menu-wrap ul.menus{
    display: flex;
    flex-wrap: wrap;
}
.menu .menu-wrap ul.menus li:not(:last-child){
    margin-right: 50px;
}
.menu .menu-wrap ul.menus li a{
    color: black;
    padding: 5px 7px;
    transition: color, background-color .5s ease-in-out;
    
}
.menu .menu-wrap ul.menus li a:hover{
    background-color:  rgba(0,0,0,0.7);
    color: #A0E5C1;
}

.menu .menu-wrap .menu-closeBtn{
    width: 30px;
    height: 30px;
    display: none;
}
.menu .menu-wrap .menu-closeBtn svg{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 767px){
    .menu .menu-wrap .openBtn{
        display: block;
        margin-right: 20px;
    }
    .menu .menu-wrap svg{
        /* fill: white; */
    }
    .menu .menu-wrap .dropdown{
        text-align: center;
    }
    .menu .menu-wrap .dropdown{
        background: rgba(0,0,0,0.7);
        width: 300px;
        height: 100vh;
        position: fixed;
        top:122px;
        right: 0;
        transform: translateX(300px);

        transition: transform .5s ease-in-out;
        z-index: 3;
        display: none;
}
.menu .menu-wrap .dropdown.active{
    transform: translateX(0);

}
    .menu .menu-wrap ul.menus{
        display: block;
    }
    .menu .menu-wrap ul.menus li a{
        color: white;

    }
    .menu .menu-wrap .menus.active{
        display: block;
    }
    .menu .menu-wrap .search{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu .menu-wrap .dropdown{
    display: block;
    text-align: center;
    }
    .menu .menu-wrap ul.menus .menu-closeBtn{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-top: 15px;
        margin-right: 10px;
    }
    .menu .menu-wrap ul.menus .menu-closeBtn svg{
        fill: white;
    }
}
/* home */
.home .container{
    width: 100%;
    max-width: 2203px;
    padding-top: 200px;
    /* margin-left: auto; */
    margin: 0 5px 0 auto;
}
.home .home-wrap{
    display: flex;
    flex-wrap: wrap;
}
.home .home-wrap .home-img{
    width: 100%;
    max-width: 35%;
}
.home .home-wrap .home-img img{
    width: 100%;
}
.home .home-wrap .content{
    width: 100%;
    max-width: 65%;
    position: relative;
    z-index: 1;
}
.home .home-wrap .content .content-wrap{
    width: 100%;
    max-width: 534px;
}
.home .home-wrap .content .content-img{
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: -246px;
    right: 0;
    z-index: -1;
}
.home .home-wrap .content h1{
    color: #43cb83;
    font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
}
.home .home-wrap .content p{
    color: #5a6e79;
    line-height: 1.44;
    font-family: WorkSans;
    font-size: 18px;
}
.home .home-wrap .content img{
    width: 100%;
}
@media screen and (max-width: 1340px){
    .home .home-wrap .content .content-img img{
        max-width: 600px;
        max-height: 600px;
        margin: 0 0 0 auto;
    }
    .home .container{
        padding-top: 100px;
    }
    .home .home-wrap .content .content-img{
        top: -145px;
    }
}
@media screen and (max-width: 991px){
    .home .home-wrap .home-img{
        max-width: 90%;
    }
    .home .home-wrap .content{
        max-width: 90%;
        padding: 50px 20px 20px 20px;
    }
    .home .home-wrap .content .content-img{
        top: 45px;
        right: -33px;
    }
}
@media screen and (max-width: 757px){
    .home .home-wrap .content .content-img img{
        max-width: 300px;
        max-height: 300px;
        margin: 0 0 0 auto;
    }
    
    .home .home-wrap .content h1{
        line-height: 1;
        font-size: 30px;
    }
}
.offers .containar{
    /* width: 100%;
    max-width: 2203px;
    padding-top: 50px;
    margin: 0 auto 0 5px; */
    position: relative;
}
.offers .containar img.goal{
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: -180px;
    left: 0;
}
.offers .containar img.flower{
    width: 100%;
    max-width: 315px;
    position: absolute;
    top: 134px;
    left: 457px;
}
.offers .offer-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.offers .bg-video{
    width: 100%;
    max-width: 37.25%;
    position: relative;
    height: 447px;
}

.offers .bg-video video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #ebf7fc;

}
.offers .bg-video .poster{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    border-radius: 50%;

}
.offers .bg-video .playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: #41CC84;
    cursor: pointer;
}
.offers .bg-video .pauseIcon{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
    transform: translateX(50%) translateY(-50%);
    border: 1px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 18px;
    z-index: 3;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    display: none;
}
.offers .bg-video .pauseIcon img{
    padding: 2.5px 1px 0 0
}
.offers .content{
    width: 100%;
    max-width: 60%;
    padding-left: 50px;
}
.offers .content h1{
    font-family: Montserrat;
    font-size: 40px;
    color: #43cb83;
    line-height: 1.4;
}
.offers .content p{
    color: #5a6e79;
    line-height: 1.63;
    font-family: WorkSans;
    font-size: 16px;
}
.offers .content .box{
    margin-top: 30px;
}
.offers .content .box p{
    margin: 0;

}
.offers .content h2{
    margin: 0;
    font-size: 40px;
}
.offers .content .box-wrap h2{
    font-size: 50px;
}
.offers .content .box-wrap:first-child h2,
.offers .content .box-wrap:first-child p{
    color: #ffba00;

}
.offers .content .box-wrap:nth-child(2) h2,
.offers .content .box-wrap:nth-child(2) p{
    color: #FF5F73;
}
.offers .content .box-wrap:last-child h2,
.offers .content .box-wrap:last-child p{
    color: #41CC84;
}
.offers .content .box{
    display: flex;
    flex-wrap: wrap;
}
.offers .content .box .box-wrap{
    width: 100%;
    max-width: 33.3%;
}
@media screen and (max-width: 991px){
    .offers .containar img.goal {
        width: 100%;
        max-width: 500px;
        position: absolute;
        top: 92px;
        left: 0;
    }
    .offers .bg-video{
        height: 300px;
    }
    .offers .containar img.flower {
        width: 100%;
        max-width: 215px;
        position: absolute;
        top: 134px;
        left: 257px;
    }
}
@media screen and (max-width: 767px){
    .offers .bg-video{
        max-width: 80%;
        margin: 0 auto;
    }
    .offers .containar img.flower,
    .offers .containar img.goal{
        display: none;
    }
    .offers .content{
        max-width: 95%;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 20px;
    }
    .offers .content-box-md{
        padding-bottom: 0;
    }
}
@media screen and (max-width: 450px){
    .offers .content .box-wrap h2{
        font-size: 25px;
    }
}

/* brand */
section.brands {
    padding-top: 200px;
    position: relative;
    z-index: 5;
}
.brands .brands-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* max-width: 900px;
    margin: 0 auto; */
}
.brands .brands-wrap .box{
    width: 100%;
    max-width: 33.33%;
    padding: 15px 10px;
}
.brands .brands-wrap .box .box-wrap{
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    width: 100%;
    max-width: 360px;
    
}
.brands .brands-wrap .box:first-child .box-wrap{
    background-color: #F1E4FC;

}
.brands .brands-wrap .box:nth-child(2) .box-wrap{
    background-color: #E4FCFA;

}
.brands .brands-wrap .box:nth-child(3) .box-wrap{
    background-color: #FCF0E4;

}
.brands .brands-wrap .box:nth-child(4) .box-wrap{
    background-color:  #FCF0E4;

}
.brands .brands-wrap .box:nth-child(5) .box-wrap{
    background-color:  #F3FCE4;

}
.brands .brands-wrap .box:last-child .box-wrap{
    background-color: #E4F3FC;

}
.brands .brands-wrap .box svg{
    width: 80px;
    height: 80px;
}
.brands .brands-wrap .box p{
    font-family: WorkSans;
  font-size: 30.5px;
  font-weight: bold;
  line-height: .97;
  color: #252c3a;
}
@media screen and (max-width: 767px){
    .brands .brands-wrap .box{
        max-width: 50%;
    }
    section.brands {
        padding-top: 100px;
    }
}
@media screen and (max-width: 450px){
    .brands .brands-wrap .box{
        max-width: 90%;
        margin: 0 auto;
    }
    section.brands {
        padding-top: 50px;
    }
}


/* work */
.work{
    position: relative;
}
.work .content-box-md{
    padding: 70px 20px;
    margin: 30px 0;
}
.work form{
    position: absolute;
    top: -57px;
    right: 225px;
    background-color: #FFFFFF;
    padding: 20px 35px;
    text-align: center;
    box-shadow: 0px 9px 70px 0 #e3e3e9;
}
.work form input{
    font-family: WorkSans;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 15px 8px 10px;
    width: 95%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #d7e4ed;
    outline: none;
}
.work form .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px;
}
.work .container{
    max-width: 1500px;
    background-color: #f1e3fc;
}
.work form .box .inp-box{
    width: 25px;
    height: 25px;
    margin-top: 11px;
}
.work form .box .content{
    margin-left: 5px;
}
.work form .apply-now{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.work form .apply-now .btn{
    margin-top: 0;
}
.work form .apply-now .content{
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 500;
    color: #5a6e79;
    line-height: 1.33;
}
.work form .account{
    text-align: left;
}
.work form .account a{
    padding: 20px 10px;
    text-decoration: underline;
    color: #5a6e79;
}
.work img{
    width: 100%;
    max-width: 174px;
}
.work .work-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.work .work-wrap .img-content{
    width: 100%;
    max-width: 50%;
}
.work .work-wrap .img-content .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.work .work-wrap .img-content .wrapper .img-wrap{
    width: 100%;
    max-width: 30%;
}
.work .work-wrap .img-content .wrapper .content{
    width: 100%;
    max-width: 70%;
    padding: 0 10px;
}

.work .work-wrap .img-content .wrapper .content p{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.2;
    color: #252c3a;
    margin: 0;
    

}
.work .work-wrap .img-content .wrapper .content p span{
    color: #FD697C;
}
.work .work-wrap .img-content .wrapper .content h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #252c3a;
    margin: 0;
}
.work .work-wrap .work-img{
    width: 100%;
    max-width: 50%;
}
.work .work-wrap .work-img img{
    margin-left: auto;
}
@media screen and (max-width: 1136px){
    .work form{
        position: relative;
        top: 0px;
        right: 0px;
        padding: 20px 35px;
    }
    
}
@media screen and (max-width: 991px){
    .work .work-wrap .img-content .wrapper .content h2{
        font-size: 30px;
        line-height: .9;
        padding: 5px 0;
    }
}
@media screen and (max-width: 575px){
    .work .work-wrap .img-content{
        max-width: 90%;
    }
    .work .work-wrap .work-img{
        max-width: 90%;
        margin-top: 30px;
    }
    .work .work-wrap .work-img img{
        margin: 0 auto;
    }
    .work form{
       
        padding: 10px 5px;
    }
    
    
}
@media screen and (max-width: 350px){
    .work form .box p{
        font-size: 12px;
    }
}

.news .heading-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.news .heading-wrap .heading{
    width: 100%;
    max-width: 60%;
}
.news .heading-wrap .heading h1{
    font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  color: #43cb83;
}
.news .heading-wrap .heading p{
    font-size: 16px;
    line-height: 1.4;
    color: #5a6e79;
}
.news .box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.news .box .box-wrap{
    width: 100%;
    max-width: 50%;
}
.news .box .box-wrap h1{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    color: #252c3a;
    line-height: 1.2;
}
.news .box .box-wrap p{
    font-family: WorkSans;
    font-size: 16px;
    line-height: 1.5;
    color: #5a6e79;
}
.news .box .box-wrap .likes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.news .box .box-wrap .likes .likes-wrap{
    width: 100%;
    max-width: 50%;
}

.news .box .box-wrap .likes .date{
    width: 100%;
    max-width: 50%;
    text-align: right;
}
.news .likes .box-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.news .likes .box-wrap .heart{
    width: 100%;
    max-width: 40%;
}
.news .likes .box-wrap p{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 1.2px;
    color: #5a6e79;
}
.news .likes .box-wrap .heart p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%235a6e79' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M376,30c-27.783,0-53.255,8.804-75.707,26.168c-21.525,16.647-35.856,37.85-44.293,53.268c-8.437-15.419-22.768-36.621-44.293-53.268C189.255,38.804,163.783,30,136,30C58.468,30,0,93.417,0,177.514c0,90.854,72.943,153.015,183.369,247.118c18.752,15.981,40.007,34.095,62.099,53.414C248.38,480.596,252.12,482,256,482s7.62-1.404,10.532-3.953c22.094-19.322,43.348-37.435,62.111-53.425C439.057,330.529,512,268.368,512,177.514C512,93.417,453.532,30,376,30z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 13px;
    height: 13px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.news .likes .box-wrap .msngr{
    width: 100%;
    max-width: 60%;
}
.news .likes .box-wrap .msngr p::before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' fill='%235a6e79' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M256,0C114.624,0,0,106.112,0,237.024c0,74.592,37.216,141.12,95.392,184.576V512l87.168-47.84c23.264,6.432,47.904,9.92,73.44,9.92c141.376,0,256-106.112,256-237.024S397.376,0,256,0z M281.44,319.2l-65.184-69.536L89.056,319.2l139.936-148.544l66.784,69.536l125.6-69.536L281.44,319.2z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    width: 13px;
    height: 13px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.news .box .right{
    padding-left: 30px;
}
.news .box .left{
    padding-right: 30px;
}

@media screen and (max-width: 767px){
    .news .heading-wrap .heading{
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
    }
    .news .heading-wrap .btn{
        max-width: 80%;
        margin: 20px auto;

    }
    .news .box .right{
        padding-left: 10px;
    }
    .news .box .left{
        padding-right: 10px;
    }
}
@media screen and (max-width: 430px){
    .news .box .box-wrap{
        width: 100%;
        max-width: 95%;
        text-align: center;
    }
}
/* footer */
.footer{
    background: #202837;
    color: #ffff;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
}
.footer-content .info{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .info img{
    width: 172px;
    height: 41px;
}
.footer-content .info p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: normal;
    padding: 10px 0 25px 0;
    color: #969595;
    border-bottom: 1px solid #ffffff;;
}
.footer-content .info .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-content .info .icons a{
    padding: 5px 7px;
}
.footer-content .info .icons a:hover{
    background-color: #008AFD;
}
.footer-content .info .icons svg{
    width: 16px;
    height: 16px;
    fill: white;
}

.footer-content .f-programs{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .f-programs h3{
    margin: 0;
} 
.footer-content .f-programs p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    color: #969595;
    padding-top: 20px;
}
.footer-content .Learning{
    width: 100%;
    max-width: 25%;
    padding: 0 10px;
}
.footer-content .Learning h3{
    margin: 0;
}
.footer-content .Learning p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    color: #969595;
    padding-top: 20px;
}

.footer-content .r-mail{
    width: 100%;
    max-width: 25%;
}
.footer-content .r-mail h3{
    margin: 0;
}
.footer-content .r-mail p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    color: #969595;
    padding-top: 20px;
}
.footer-content .r-mail .input-wrap{
    position: relative;
}
.footer-content .r-mail .input-wrap input{
    width: 100%;
    padding: 7px 5px;
    font-size: 13px;
    outline: none;
}
.footer-content .r-mail .input-wrap button{
    background-color: #41CC84;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 14px;
    outline: none;
}
@media screen and (max-width: 991px){
    .footer-content .info{
        max-width: 50%;
    }
    .footer-content .f-programs{
        max-width: 50%;
    }
    .footer-content .Learning{
        max-width: 50%;
        margin-top: 30px;
    }
    .footer-content .r-mail{
        max-width: 50%;
        margin-top: 30px;

    }

}
@media screen and (max-width: 575px){
    .footer-content .info{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .f-programs{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .Learning{
        max-width: 90%;
        margin: 0 auto 30px auto;
    }
    .footer-content .r-mail{
        max-width: 90%;
        margin:0 auto;
    }
}
.footer-bar{
    background-color: #4B5B6D;
}
.footer-bar .bar-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;

}
.footer-bar ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    align-items: center;
}
.footer-bar ul li{
    margin-left:12px;
}
.footer-bar ul a{
    color: white;
    transition: color .25s ease-in-out;
}
.footer-bar ul a:hover{
    color: #41CC84;
}
@media screen and (max-width: 750px){
    .footer-bar .bar-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-bar ul{
        justify-content: center;
    }
    .footer-bar ul a{
        padding: 5px 2px;
    }
}
